<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache" failOnWarning="true" failOnRisky="true">
    <testsuites><testsuite name="Spam Guard"><directory>tests/Unit</directory><directory>tests/Feature</directory></testsuite></testsuites>
    <source><include><directory>src</directory></include></source>
    <php><env name="APP_ENV" value="testing"/><env name="TYPESAFE_API_KEY" value="" force="true"/></php>
</phpunit>
